certifi==2020.4.5.2
chardet==3.0.4
click==7.1.2
elasticsearch==7.7.1
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
python-dotenv==0.13.0
requests==2.24.0
urllib3==1.26.5
Werkzeug==1.0.1
