body {
  font-family: monospace;
}

#query .exclude label {
    text-decoration: line-through;
}

#query .field-filter .remove-filter {
    visibility: hidden;
    font-size: larger;
    cursor: pointer;
}

#query:hover .field-filter .remove-filter {
	visibility: visible;
}

#histogram_container {
    height: 130px;
}

#histogram {
    width: 100%;
    border: 1px solid #ddd;
    padding: 0.5ex;
    box-sizing: border-box;
}

table.results {
    width: 100%;
}

thead tr {
    font-weight: bold;
}

/* don't break field names in header and values of first field (usually @timestamp) */
thead td, td:nth-of-type(2) {
	overflow-wrap: break-word;
}

td.warning {
    background-color: rgba(255, 255, 0, 0.5);
    font-weight: bold;
    padding: 1em;
}

td.error {
    background-color: rgba(255, 0, 0, 0.7);
    font-weight: bold;
    padding: 1em;
}

td {
    padding-right: 1em;
    box-sizing: border-box;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    overflow-y: auto;
    vertical-align: top;
}

.row td {
    max-width: 30em;
}

td:first-of-type, td:last-of-type {
    padding-right: 0;
}

thead .filter, .row td .filter, .source tr .filter2 {
    visibility: hidden;
    margin-left: 1ex;
    cursor: pointer;
}

thead td:hover .filter, .row td:hover .filter, .source tr:hover .filter2 {
    visibility: visible;
    text-decoration: none;
    color: black;
}

td .field-container {
    max-height: 10em;
    overflow: hidden;
}

td a.trace-logs {
    visibility: hidden;
}

td:hover a.trace-logs {
    text-decoration: none;
    color: black;

    visibility: visible;
}

#num-results, .source-hidden {
    display: none;
}

.source td {
    vertical-align: top;
}

.source pre {
    white-space: pre-wrap;
    margin: 0;
}

.source-flattened {
    max-height: 115px;
    line-height: 1.5em;
    display: inline-block;
    overflow: hidden;
}

.source-flattened .key {
    padding: 0.1em 0.2em;
    border-radius: 3px;
    background-color: rgba(0, 0, 255, 0.1);
}
